@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #FFFBEB;
}

::selection {
    background-color: rgb(0, 170, 255);
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    background-color: #111827f6;
    display: flex;
    align-items: center;
    width: calc(100% - 80px); /* Adjust based on margin */
    margin: 0 auto; /* Center horizontally */
    padding: 2vw 4vw;
    justify-content: center; /* Center the content inside the navbar */
    top: 20px;
    border-radius: 50px;
    z-index: 1000;
    left: 40px; /* Adjust according to margin */
    right: 40px; /* Adjust according to margin */
    border: 1px solid #FFFBEB;
}

.nav-centre {
    display: flex;
    gap: 3vw;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

nav h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 4vw;
}

.nav-centre a {
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    /* padding: 4px; */
    border-radius: 5px;
}

.nav-centre a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Hamburger Menu */
.ham-menu {
    display: none;
    /* Hide by default */
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
}

/* Adjusting the Hamburger Menu Span Lines */
.ham-menu span {
    height: 0.5px; /* Change this value to make the lines thinner */
    width: 80%;
    background-color: #FFFBEB; /* Adjust the color as needed */
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

/* .ham-menu span:nth-child(2) {
} */

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Off-Screen Menu */
.off-screen-menu {
    background-color: #222531eb;
    width: calc(100% - 80px); /* Full width minus gaps */
    max-width: 450px; /* Optional: Adjust max width */
    height: 0; /* Start with 0 height */
    position: fixed;
    top: 70px; /* Position below the navbar */
    left: 40px; /* 40px gap from the left */
    right: 40px; /* 40px gap from the right */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: height 0.3s ease, visibility 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
    visibility: hidden; /* Hide by default */
    opacity: 0; /* Hide by default */
    z-index: 999; /* Ensure it is above other content but below the navbar */
    border-radius: 10px;
    border: 0.1px solid #757575;
}

/* When menu is active */
.off-screen-menu.active {
    height: 30vh; /* Height of the remaining space below the navbar */
    visibility: visible; /* Show when active */
    opacity: 1; /* Show when active */
}

.off-screen-menu ul{
    width: 100%;
    font-size: 4.5vw;
    /* text-transform: uppercase; */
    list-style: none;
    line-height: 4vh;
    text-align: left;
    padding: 10px;
}

.off-screen-menu ul a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 4vw;
}

/* Media Query */
@media (max-width: 600px) {
    .nav-centre {
        display: none; /* Hide nav links on small screens */
    }
    
    .ham-menu {
        display: block; /* Show hamburger menu */
    }

    nav {
        width: calc(100% - 25px); /* Reduce width on mobile */
        padding: 1rem; /* Adjust padding for mobile */
        left: 5px; /* Reduce left margin */
        right: 5px; /* Reduce right margin */
        top: 10px;
        border-radius: 30px; /* Adjust border-radius for mobile */
        height: 12vw;
        border: 0.5px solid #FFFBEB;
    }

    nav h1{
        font-size: 5.5vw;
        font-weight: 600;
    }

    #page1 h1 {
        font-size: 10vw; /* Adjust font size for smaller screens */
        line-height: 10vw; /* Maintain proportion */
    }

    #page1 p {
        font-size: vw; /* Adjust font size for smaller screens */
        margin-top: 2vh; /* Reduce margin on smaller screens */
    }
}

@media (max-width: 400px) {
    #page1 h1 {
        font-size: 12vw; /* Further adjustment for very small screens */
        line-height: 12vw; /* Maintain proportion */
    }

    #page1 p {
        font-size: 6vw; /* Further adjustment for very small screens */
        margin-top: 1vh; /* Reduce margin on smaller screens */
    }
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: #FFFBEB; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    /* padding: px; */
    border-radius: 50%; /* Rounded corners */
    transition: background-color 0.3s; /* Add transition for hover effect */
    height: 60px;
    width: 60px;
}

#backToTop:hover {
    background-color: #333; /* Darker background on hover */
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40;
    font-size: 24px; /* Adjust icon size */
}

#page1-parent {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #212A3E;
    display: flex;
    flex-direction: row;
    font-weight: 900;
    justify-content: space-around;
}

#page1 {
    background-color: #111827a0;
    height: 500px;
    width: 100%;
    margin: 180px 100px 70px 100px;
    border-radius: 40px;
    display: flex;
}

#page1-left {
    width: 40%;
}

#page1-left img {
    height: 450px;
    margin: 25px;
    border-radius: 20px;
}

#page1-right {
    width: 60%;
}

#page1-right h1 {
    font-size: 88px;
    margin: 80px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#page1-right p {
    margin: 80px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 25px;
}

/* Responsive styles for page1 - Mobile Only */
@media screen and (max-width: 600px) {
    #page1-parent {
        flex-direction: column;
        /* Stack the elements vertically */
        align-items: center;
        padding: 0;
        height: auto !important;
    }

    #page1 {
        flex-direction: column;
        /* Stack the left and right sections vertically */
        margin: 20vw 50px 0 50px;
        width: 90%;
        height: auto;
    }

    #page1-left {
        width: 100%;
        text-align: center;
    }

    #page1-left img {
        width: 80%;
        /* Adjust the image size */
        height: 70vw;
        width: 70vw;
        margin: 9vw 0;
    }

    #page1-right {
        width: 100%;
        text-align: center;
    }

    #page1-right h1 {
        font-size: 36px;
        /* Adjust font size for mobile */
        margin: 1vw 0;
        text-align: center;
    }

    #page1-right p {
        margin: 25px 25px;
        font-size: 16px;
        /* Adjust font size for mobile */
        line-height: 24px;
        /* text-align: left; */
    }
}

#page2 {
    position: relative;
    min-height: 270vh;
    width: 100%;
    background-color: #212A3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    justify-content: center;
    /* margin-bottom: 50px; */
}

#page2 h1{
    border-radius: 10px;
    background-color: #111827fc;
    padding: 15px;
    letter-spacing: 0.5px;
}

.page2-cards {
    background-color: white;
    height: 100px;
    justify-content: center;
    display: flex;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.lastrow {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.card {
    width: 350px;
    height: 300px;
    background-color: #111827f0;
    border: 1px solid #FFFBEB;
    border-radius: 8px;
    overflow: hidden;
    margin: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.fullcourses-card{
    width: 350px;
    height: 320px;
    background-color: #111827f0;
    border: 1px solid #FFFBEB;
    border-radius: 8px;
    overflow: hidden;
    margin: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.upper {
    height: 40%;
    /* background-color: #4caf50; */
    /* Green color for the upper part */
}

.bottom {
    height: 60%;
    background-color: #111827f0;
    /* Blue color for the bottom part */
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.bottom h3 {
    font-size: 25px;
    margin: 0 0 15px 0;
}

.bottom p {
    font-size: 16px;
    margin-bottom: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.bottom a {
    text-transform: uppercase;
    font-weight: 700;
    color: #252525;
    font-size: 18px;
    text-decoration: none;
    background-color: #FFFBEB;
    border-radius: 8px;
    padding: 4px 10px;
    transition: all ease 0.1s;
    transition: transform 0.4s ease;
}

.bottom a:hover{
    /* background-color: #c9c8c8; */
    /* color: #FFFBEB; */
    transform: scale(1.1);
    transition: ease-in 0.1s;
}

.resources-hr{
    width: 100%;
    margin-bottom: 40px;
}

/* Existing styles remain unchanged for larger screens */

/* Add media queries for mobile devices */
@media screen and (max-width: 600px) {
    #page2 h1{
        font-size: 7vw;
        margin: 5vw 0;
    }
    /* Stack cards in a single column */
    .row, .lastrow {
        flex-direction: column;
        align-items: center;
        /* gap: 20px; Reduce the gap between cards */
        margin: 25px 15px;
    }

    .card, .fullcourses-card {
        width: 90%; /* Adjust the width to fit within the screen */
        height: auto; /* Let the height adjust based on content */
        margin: 0 !important;
    }

    /* Adjust the padding and font sizes for better readability */
    .bottom h3 {
        font-size: 22px;
    }

    .bottom p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .bottom a {
        font-size: 16px;
        padding: 6px 12px;
    }

    /* Reduce padding in the bottom section */
    .bottom {
        padding: 10px;
    }

    /* Ensure images fit well within the upper section */
    .upper img {
        width: 100%;
        height: auto;
    }

    .lastrow{
        margin-bottom: 15vw;
    }
}

.footer-distributed {
    background: #111827f6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    border-top: 1.5px solid #FFFBEB;
}

#footer-h3{
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-left {
    width: 35%;
    margin-left: 40px;
}

.footer-left img{
    height: 250px;
}

/* Footer Center */
.footer-center {
    width: 35%;
}

.footer-center i {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

#email-footer {
    font-size: 25px;
}

.footer-center-h2 {
    text-align: center;
    margin-right: 10vw;
    margin-top: 5vh;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    font-size: 18px;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    line-height: 2;
}

/* Footer Right */
.footer-right {
    width: 25%;
    line-height: 28px;
}

.footer-right span {
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-right p {
    font-size: 16px;
    font-weight: 500;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .footer-distributed {
        padding: 20px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin: 0 auto 20px auto;
        text-align: center;
    }

    .footer-left img {
        height: 150px;
        margin-bottom: 20px;
    }

    .footer-center i {
        font-size: 20px;
        margin: 10px 7.5px;
    }

    #email-footer {
        font-size: 20px;
    }

    .footer-center p {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }

    .footer-center-h2 {
        font-size: 30px;
        margin-top: 20px;
        margin-right: 0;
    }

    .footer-right span {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .footer-right p {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-icons a {
        font-size: 30px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    #footer-h3 {
        font-size: 16px;
        margin-top: 10px;
        line-height: 22px;
    }
}

@media (max-width: 600px) {
    #backToTop {
        font-size: 10px;
        background-color: #333333f4;
    }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #f1f1f1; /* Optional: Border around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Specific to any custom elements with this class */
.custom-scrollbar {
    max-height: 80vh; /* Adjust based on your layout */
    overflow-y: auto; /* Enable vertical scrolling */
}
